#PoeticAgencyImageAnnotations {

  .Annotator {

    .Annotation {

      overflow: auto;
    }

    .AnnotationsList {

      right: auto;
      bottom: auto;
      background-color: #fff;
      padding: 10px 20px;
    }
  }
}

.yvPWU {

  border: dashed 6px green;
  box-shadow: 0px 0px 12px 12px white inset;
}